In [1]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import dayofmonth, to_date, count_distinct, hour,minute
from pyspark.sql.types import *

from pprint import pprint

In [17]:
spark = SparkSession.builder.master("local").appName("SparkSQL").getOrCreate()

In [18]:
spark.sparkContext.setLogLevel("ERROR")

In [19]:
schema = StructType(
    [
        StructField('event_time', StringType()),
        StructField('event_type', StringType()),
        StructField('product_id', StringType()),
        StructField('category_id', StringType()),
        StructField('category_code', StringType()),
        StructField('brand', StringType()),
        StructField('price', StringType()),
        StructField('user_id', StringType()),
        StructField('user_session', StringType()),
    ]
)

In [73]:
df = spark.read.option("header",True).schema(schema).csv("./2019-Nov.csv")#.limit(10000)

In [6]:
df.show(truncate=False)

+-----------------------+----------+----------+-------------------+--------------------------------+--------+------+---------+------------------------------------+
|event_time             |event_type|product_id|category_id        |category_code                   |brand   |price |user_id  |user_session                        |
+-----------------------+----------+----------+-------------------+--------------------------------+--------+------+---------+------------------------------------+
|2019-11-01 00:00:00 UTC|view      |1003461   |2053013555631882655|electronics.smartphone          |xiaomi  |489.07|520088904|4d3b30da-a5e4-49df-b1a8-ba5943f1dd33|
|2019-11-01 00:00:00 UTC|view      |5000088   |2053013566100866035|appliances.sewing_machine       |janome  |293.65|530496790|8e5f4f83-366c-4f70-860e-ca7417414283|
|2019-11-01 00:00:01 UTC|view      |17302664  |2053013553853497655|null                            |creed   |28.31 |561587266|755422e7-9040-477b-9bd2-6a6e8fd97387|
|2019-11-01 00:00:01 UTC|view      |3601530   |2053013563810775923|appliances.kitchen.washer       |lg      |712.87|518085591|3bfb58cd-7892-48cc-8020-2f17e6de6e7f|
|2019-11-01 00:00:01 UTC|view      |1004775   |2053013555631882655|electronics.smartphone          |xiaomi  |183.27|558856683|313628f1-68b8-460d-84f6-cec7a8796ef2|
|2019-11-01 00:00:01 UTC|view      |1306894   |2053013558920217191|computers.notebook              |hp      |360.09|520772685|816a59f3-f5ae-4ccd-9b23-82aa8c23d33c|
|2019-11-01 00:00:01 UTC|view      |1306421   |2053013558920217191|computers.notebook              |hp      |514.56|514028527|df8184cc-3694-4549-8c8c-6b5171877376|
|2019-11-01 00:00:02 UTC|view      |15900065  |2053013558190408249|null                            |rondell |30.86 |518574284|5e6ef132-4d7c-4730-8c7f-85aa4082588f|
|2019-11-01 00:00:02 UTC|view      |12708937  |2053013553559896355|null                            |michelin|72.72 |532364121|0a899268-31eb-46de-898d-09b2da950b24|
|2019-11-01 00:00:02 UTC|view      |1004258   |2053013555631882655|electronics.smartphone          |apple   |732.07|532647354|d2d3d2c6-631d-489e-9fb5-06f340b85be0|
|2019-11-01 00:00:03 UTC|view      |17200570  |2053013559792632471|furniture.living_room.sofa      |null    |437.33|518780843|aa806835-b14c-45af-9538-cd4d1849be3e|
|2019-11-01 00:00:03 UTC|view      |2701517   |2053013563911439225|appliances.kitchen.refrigerators|null    |155.11|518427361|c89b0d96-247f-4044-9c91-bb5f38c6af9b|
|2019-11-01 00:00:03 UTC|view      |16700260  |2053013559901684381|furniture.kitchen.chair         |null    |31.64 |566255262|173d7b72-1db7-4638-8207-be8148bf3c9f|
|2019-11-01 00:00:04 UTC|view      |34600011  |2060981320581906480|null                            |null    |20.54 |512416379|4dfe2c67-e537-4dc2-ae69-0b65263db091|
|2019-11-01 00:00:05 UTC|view      |4600658   |2053013563944993659|appliances.kitchen.dishwasher   |samsung |411.83|526595547|aab33a9a-29c3-4d50-84c1-8a2bc9256104|
|2019-11-01 00:00:06 UTC|view      |24900193  |2053013562183385881|null                            |null    |1.09  |512651494|f603c815-f51a-46fe-9404-cb586e35edaf|
|2019-11-01 00:00:07 UTC|view      |27400066  |2053013563391345499|null                            |null    |8.55  |551061950|3f6112f1-5695-4e88-bb0a-49f9e36658ff|
|2019-11-01 00:00:07 UTC|view      |5100503   |2053013553375346967|null                            |xiaomi  |22.68 |520037415|f54fa96a-f3f2-43ac-99a4-fcb2a449dd36|
|2019-11-01 00:00:07 UTC|view      |1004566   |2053013555631882655|electronics.smartphone          |huawei  |164.84|566265908|52c2c76c-b79e-4794-86ff-badc76d35f5a|
|2019-11-01 00:00:08 UTC|view      |1307115   |2053013558920217191|computers.notebook              |hp      |411.59|514028527|df8184cc-3694-4549-8c8c-6b5171877376|
+-----------------------+----------+----------+-------------------+--------------------------------+--------+------+---------+------------------------------------+
only showing top 20 rows

In [7]:
df.printSchema()

root
 |-- event_time: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_session: string (nullable = true)

In [8]:
df.head(5)

[Row(event_time='2019-11-01 00:00:00 UTC', event_type='view', product_id='1003461', category_id='2053013555631882655', category_code='electronics.smartphone', brand='xiaomi', price='489.07', user_id='520088904', user_session='4d3b30da-a5e4-49df-b1a8-ba5943f1dd33'),
 Row(event_time='2019-11-01 00:00:00 UTC', event_type='view', product_id='5000088', category_id='2053013566100866035', category_code='appliances.sewing_machine', brand='janome', price='293.65', user_id='530496790', user_session='8e5f4f83-366c-4f70-860e-ca7417414283'),
 Row(event_time='2019-11-01 00:00:01 UTC', event_type='view', product_id='17302664', category_id='2053013553853497655', category_code=None, brand='creed', price='28.31', user_id='561587266', user_session='755422e7-9040-477b-9bd2-6a6e8fd97387'),
 Row(event_time='2019-11-01 00:00:01 UTC', event_type='view', product_id='3601530', category_id='2053013563810775923', category_code='appliances.kitchen.washer', brand='lg', price='712.87', user_id='518085591', user_session='3bfb58cd-7892-48cc-8020-2f17e6de6e7f'),
 Row(event_time='2019-11-01 00:00:01 UTC', event_type='view', product_id='1004775', category_id='2053013555631882655', category_code='electronics.smartphone', brand='xiaomi', price='183.27', user_id='558856683', user_session='313628f1-68b8-460d-84f6-cec7a8796ef2')]

In [ ]:
df.tail(5)

# 1. 해당 전체 기간에서, KST 기준으로 active user 수가 제일 큰 날짜를 구하세요

In [74]:
max_active = df.groupby(dayofmonth('event_time').alias('date')).agg(count_distinct('user_id').alias('u_count')).orderBy('u_count', ascending=False)

In [75]:
max_user = max_active.collect()

In [76]:
max_user

[Row(date=17, u_count=487501),
 Row(date=16, u_count=487327),
 Row(date=15, u_count=379786),
 Row(date=18, u_count=319537),
 Row(date=14, u_count=308842),
 Row(date=11, u_count=292400),
 Row(date=20, u_count=291900),
 Row(date=19, u_count=290798),
 Row(date=21, u_count=287079),
 Row(date=29, u_count=286699),
 Row(date=8, u_count=286053),
 Row(date=12, u_count=285994),
 Row(date=13, u_count=285408),
 Row(date=7, u_count=278988),
 Row(date=10, u_count=276198),
 Row(date=4, u_count=275612),
 Row(date=9, u_count=268643),
 Row(date=5, u_count=262338),
 Row(date=25, u_count=257613),
 Row(date=6, u_count=256887),
 Row(date=27, u_count=256546),
 Row(date=30, u_count=255497),
 Row(date=28, u_count=253979),
 Row(date=26, u_count=252527),
 Row(date=22, u_count=249401),
 Row(date=23, u_count=249362),
 Row(date=24, u_count=240526),
 Row(date=3, u_count=240187),
 Row(date=2, u_count=234685),
 Row(date=1, u_count=223108)]

In [77]:
target_date = max_user[0].date

In [78]:
target_date

17

---

# 1의 날짜에서, 세션이 가장 긴 사용자 10명에 대해 "user_id, session_id, 세션시간"를 구하세요

In [79]:
tmp = df.filter(dayofmonth(df.event_time) == target_date).orderBy('user_session')

In [80]:
tmp.printSchema()

root
 |-- event_time: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_session: string (nullable = true)

In [81]:
spark.catalog.dropTempView('tmp')
tmp.createTempView('tmp')

In [145]:
spark.sql("""
        select first(t.user_id) as user_id, last(user_id) as last
        from tmp t
        group by t.user_session
        having last != user_id
        """).show(truncate=False)
#세션아이디가 같으면서 유저아이디가 다른 경우가 있는지 확인

+-------+----+
|user_id|last|
+-------+----+
+-------+----+


spark.sql("""
        select t.user_session, min(t.event_time) as start, max(t.event_time) as end, bigint(to_timestamp(max(t.event_time)))-bigint(to_timestamp(min(t.event_time))) as keep, first(t.user_id) as user_id, last(user_id) as last
        from tmp t
        group by t.user_session
        having last != user_id
        order by keep desc
        
        """).show(truncate=False)

In [ ]:
spark.sql("""
        select t.user_id, 
        from tmp t
        group by t.user_id
        limit 10
        """).show(truncate=False)

# 3. 1의 날짜의 15분단위로 active user 수를 구하세요

In [259]:
std = 1572566400

spark.sql("""
        with RECURSIVE time as (
            select 0 MINUTE
            union
            select MINUTE+15
            from time
        )
        SELECT *, count(*) as 'COUNT'
        FROM (
            select minute(to_timestamp(event_time)) as MINUTE from tmp
            union all
            select MINUTE from time
        ) as f
        group by MINUTE
        order by MINUTE
        """).show(truncate=False)

In [28]:
spark.sql("""
        SELECT floor((hour(event_time)*60 + minute(event_time))/15)*15 as m, count(distinct(user_id))
        from tmp
        group by floor((hour(event_time)*60 + minute(event_time))/15)
        """).show(truncate=False)

+---+-----------------------+
|m  |count(DISTINCT user_id)|
+---+-----------------------+
|0  |542                    |
|15 |628                    |
|30 |768                    |
|45 |669                    |
+---+-----------------------+

query = """concat( string( floor((floor((hour(event_time)*60 + minute(event_time))/15)*15)/60) ), 
                    ":",
                    string( mod( floor((hour(event_time)*60 + minute(event_time))/15)*15, 60)))"""

query2 = """concat( string( floor((floor((hour(event_time)*60 + minute(event_time))/15)*15+15)/60) ), 
                    ":",
                    string( mod( floor((hour(event_time)*60 + minute(event_time))/15)*15+15, 60)))"""

---

In [92]:
start1 = "string(floor((floor((hour(event_time)*60 + minute(event_time))/15)*15)/60))"

In [93]:
start2 = "string(mod(floor((hour(event_time)*60 + minute(event_time))/15)*15, 60))"

In [94]:
query = f"""concat( if(length({start1})=2, 
                    {start1}, 
                    concat(0,{start1})), 
                    
                    ":",
                    
                    if(length({start2})=2,
                    {start2},
                    concat(0, {start2}))
                )"""

In [98]:
end1 = "string(floor((floor((hour(event_time)*60 + minute(event_time))/15)*15+15)/60))"

In [101]:
end2 = "string(mod(floor((hour(event_time)*60 + minute(event_time))/15)*15+15, 60))"

In [102]:
query2 = f"""concat( if(length({end1})=2, 
                    {end1}, 
                    concat(0,{end1})), 
                    
                    ":",
                    
                    if(length({end2})=2,
                    {end2},
                    concat(0, {end2})
                    )
                )"""

In [103]:
spark.sql(f"""
        SELECT {query} as start, {query2} as end, count(distinct(user_id))
        from tmp
        group by floor((hour(event_time)*60 + minute(event_time))/15)
        order by start
        """).show(200, truncate=False)

+-----+-----+-----------------------+
|start|end  |count(DISTINCT user_id)|
+-----+-----+-----------------------+
|00:00|00:15|1195                   |
|00:15|00:30|1302                   |
|00:30|00:45|1409                   |
|00:45|01:00|1559                   |
|01:00|01:15|1867                   |
|01:15|01:30|2218                   |
|01:30|01:45|2759                   |
|01:45|02:00|1853                   |
|02:00|02:15|2816                   |
|02:15|02:30|5012                   |
|02:30|02:45|6316                   |
|02:45|03:00|7390                   |
|03:00|03:15|8662                   |
|03:15|03:30|9896                   |
|03:30|03:45|11422                  |
|03:45|04:00|12621                  |
|04:00|04:15|13958                  |
|04:15|04:30|15367                  |
|04:30|04:45|16570                  |
|04:45|05:00|17640                  |
|05:00|05:15|18104                  |
|05:15|05:30|19420                  |
|05:30|05:45|20132                  |
|05:45|06:00|20670                  |
|06:00|06:15|20012                  |
|06:15|06:30|21134                  |
|06:30|06:45|21221                  |
|06:45|07:00|20840                  |
|07:00|07:15|19900                  |
|07:15|07:30|20254                  |
|07:30|07:45|20425                  |
|07:45|08:00|20337                  |
|08:00|08:15|20294                  |
|08:15|08:30|20156                  |
|08:30|08:45|21005                  |
|08:45|09:00|21067                  |
|09:00|09:15|19534                  |
|09:15|09:30|20585                  |
|09:30|09:45|20535                  |
|09:45|10:00|20664                  |
|10:00|10:15|20085                  |
|10:15|10:30|21254                  |
|10:30|10:45|21762                  |
|10:45|11:00|22092                  |
|11:00|11:15|22158                  |
|11:15|11:30|21880                  |
|11:30|11:45|21950                  |
|11:45|12:00|22156                  |
|12:00|12:15|22328                  |
|12:15|12:30|22738                  |
|12:30|12:45|22783                  |
|12:45|13:00|22433                  |
|13:00|13:15|21747                  |
|13:15|13:30|21247                  |
|13:30|13:45|21585                  |
|13:45|14:00|21906                  |
|14:00|14:15|21609                  |
|14:15|14:30|21676                  |
|14:30|14:45|21796                  |
|14:45|15:00|21911                  |
|15:00|15:15|21381                  |
|15:15|15:30|21310                  |
|15:30|15:45|21099                  |
|15:45|16:00|18084                  |
|16:00|16:15|17476                  |
|16:15|16:30|17541                  |
|16:30|16:45|16956                  |
|16:45|17:00|16454                  |
|17:00|17:15|16315                  |
|17:15|17:30|16147                  |
|17:30|17:45|16120                  |
|17:45|18:00|14657                  |
|18:00|18:15|1801                   |
|18:15|18:30|80                     |
|18:30|18:45|4195                   |
|18:45|19:00|6525                   |
|19:00|19:15|5883                   |
|19:15|19:30|5032                   |
|19:30|19:45|4256                   |
|19:45|20:00|3629                   |
|20:00|20:15|3135                   |
|20:15|20:30|2594                   |
|20:30|20:45|2261                   |
|20:45|21:00|1812                   |
|21:00|21:15|1541                   |
|21:15|21:30|1346                   |
|21:30|21:45|1150                   |
|21:45|22:00|1012                   |
|22:00|22:15|860                    |
|22:15|22:30|778                    |
|22:30|22:45|721                    |
|22:45|23:00|621                    |
|23:00|23:15|629                    |
|23:15|23:30|618                    |
|23:30|23:45|627                    |
|23:45|24:00|657                    |
+-----+-----+-----------------------+

In [334]:
spark.sql("""
        SELECT floor(bigint(to_timestamp(event_time))/60/15)*15, floor(bigint(to_timestamp(event_time))/60/15)*15-15, count(distinct(user_id))
        from tmp
        group by floor(bigint(to_timestamp(event_time))/60/15)*15
        """).show(truncate=False)

+----------------------------------------------------+-----------------------------------------------------------+-----------------------+
|(FLOOR(((to_timestamp(event_time) / 60) / 15)) * 15)|((FLOOR(((to_timestamp(event_time) / 60) / 15)) * 15) - 15)|count(DISTINCT user_id)|
+----------------------------------------------------+-----------------------------------------------------------+-----------------------+
|26209440                                            |26209425                                                   |542                    |
|26209455                                            |26209440                                                   |628                    |
|26209470                                            |26209455                                                   |768                    |
|26209485                                            |26209470                                                   |669                    |
+----------------------------------------------------+-----------------------------------------------------------+-----------------------+